// COLORS //
$light: #FFFFFF;
$grey: #F1F1F1;
$grey2: #F5F5F5;
$black: #000;
$dark: #232323;
$dark2: #333;
$yellow: #FFC600;

// BREAKPOINTS 
$desktop: 1024px;
$desktop-max: 1200px;

// FONTS
$roboto: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;
