.don-validation-template {  
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background: $dark url('../img/bgDon.png') no-repeat center center;
  background-size: cover;
  
  .don-go-home {
    font-family: $quicksand;
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 20px;

    a {
      margin-bottom: 30px;
      padding-top: 15px;

      svg {
          display: inline-block;
          vertical-align: top;
          height: 22px;
          width: 22px;
          margin-right: 20px;
      }

      p {
          display: inline-block;
          vertical-align: top;
          font-family: $quicksand;
          font-weight: bold;
          font-size: 16px;
          color: $black;
          height: 22px;
          line-height: 22px;
          margin: 0;
      }
    }
  }
  
  .don-container {
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    width: 630px;
    height: 380px;
    background-color: $dark2;
    border-radius: 10px;
    
    >div {
      padding:60px;
      color: $light;
      
      h2 {
        font-family: $quicksand;
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 35px;
      }
      
      p {
        color: $grey;
        font-size: 14px;
        padding-bottom: 35px;
      }

      a {
        color: $light;
        font-weight: bold;
        padding: 0 20px;
        
        i,p {
          margin:0;
          display: inline-block;
          vertical-align: top;
          height: 50px;
          line-height: 50px;
        }

        i{
          margin-right: 10px;
        }

        &:hover{
          box-shadow: 0 0 45px rgba($black,.2);
          &.facebook{
            background: #314C83;
          }
          &.twitter{
            background: #4895CF;
          }
        }

        &.twitter {
          background-color: #55acee;
          color: $grey;
          margin-left: 22px;
        }
        
        &.facebook {
          background-color : #3b5998;
          color: $grey;
        }
      }
    }
  }
}
