.home-template {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: $light;

    .content--left {
        position: relative;
        float: left;
        width: 67%;
        min-height: 100vh;
        background: url('../img/bgHome.png');
        background-size: cover;
        padding: 0 30px;

      footer.main-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        color: $light;
        text-align: center;

        p {
          line-height: 40px;
          margin: 0;
        }

        a {
          color: $light;
          text-decoration: underline;
          font-weight: normal;

          &:hover {
            color: $light;
          }
        }
      }
      
      .left--container {
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        padding: 0 30px;
        height:100vh;
        display: table;
        
        .vCenter {
          display:table-cell;
          vertical-align: middle;
        }
        
        .vCenter:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height:100%; 
        }
        
        .left--info{
          float: left;
          width: 25%;
          text-align: center;
          vertical-align:middle;
          margin-top: 20%;
          transform:translate3d(0,-20%,0);
          img {
            max-width: 100%;
            
            display:inline-block;
            border-radius: 50%;
            background: white;
          }

          span{
            margin-top: 10px;
            text-align: center;
            display: inline-block;
            font-style: italic;
            color:$light;
            font-family: $roboto;

          }
        }
        
        .right--info {
          max-width: 520px;
          width: 75%;
          float: left;
          padding-left: 60px;
          vertical-align:middle;
          display:inline-block;
          
          h1 {
            color: $light;
            font-size: 25px;
            font-family : $quicksand;
            line-height: 35px;
            margin: 0 0 30px;
          }
          
          p {
            color: $grey;

            > a {
              color: $light;
              text-decoration: underline;
              margin: 0 !important;
            }
          }
          
          .btn {
            margin-top: 30px;
          }
          
          a:last-child {
            margin: 45px 25px 0 30px;
            
            @media screen and (min-width: 1200px) and (max-width: 1260px){
              display: inline-block;
              vertical-align: -11px;
              text-align: center;
              width: 185px;
            }
            
          }
          
        }
      }
    }

    .content--right {
        position: fixed;
        right: 0;
        width: 33%;
        background: $dark;
        padding: 0 40px;
        padding-bottom: 0;
        height: auto;
        min-height: 100vh;

        header {
            position: relative;
            padding-bottom: 25px;
            width: 100%;

            h2 {
                position: relative;
                z-index: 2;
                color: $yellow;
                font-size: 25px;
                font-family: $quicksand;
                margin: 0;
            }

            span.hashtag {
                z-index: 1;
                display: none;
                position: absolute;
                bottom: -30px;
                color: rgba($light,.1);
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 900;
                font-size: 65px;
            }
        }

        .instagram-flux {
          margin-bottom: 0;
        }

        .right-scrollable-zone > div:first-child  header {
          span.hashtag {
            display: block;
          }
        }
        
        .right-scrollable-zone > div:last-child {
          margin-bottom: 80px;
        }

    }

    .right-scrollable-zone {
        position: relative;
        width: 100%;
        padding-top: 40px;
        max-height: calc(100vh);
        overflow-y: scroll;
        overflow-x: hidden;
      
        .instagram-flux article:first-of-type{
          width: 100%;
          padding: 0;
          margin: 0;
          margin-bottom: 20px;

          img {
              display: block;
              max-width: 100%;
          }
          
          .playBtn {
            width: inherit;
          }
          
          .caption {
            top:80%;
            padding: 0;
            width: 100%;

            p {
              margin-top:10%;
              padding: 0 20px;
            }
          }
      }

      
    }

    .instagram-flux {
        position: relative;
        background: $dark;
        width: 100%;
        max-height: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;

        article {
            float: left;
            width: 50%;
            padding: 20px;
            position: relative;

            &:nth-child(even){
                padding-left: 0;
            }

            &:nth-child(odd){
                padding-right: 0;
            }

            img {
                display: block;
                max-width: 100%;
            }
          
            .playBtn{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
                width: 40px;
            }
          
            .caption {
              opacity:0;
              position: absolute;
              bottom:20px;
              width: calc(100% - 20px);
              height: 20%;
              text-align: center;
              background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
              
              
              &:nth-child(even){
                
              }
              
              &:nth-child(odd){
                
              }
              
              p {
                color: white;
                font-family: $roboto;
                font-size:14px;
                margin-top: 15px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          
          &:hover .caption {
            opacity:1;
          }
        }
    }
    
    .is-scrollable {
        position: absolute;
        z-index: 5;
        bottom: 35px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, $black, rgba($black,.0));

        span {
            position: absolute;
            color: rgba($yellow,.9);
            text-align: center;
            bottom: -15px;
            left: 50%;
            height: 30px;
            transform: translate3d(-50%,0,0);
            margin: 0;

            svg {
                display: inline-block;
                vertical-align: top;
                max-height: 30px;
                margin-right: 10px;
            }

            p {
                margin: 0;
                display: inline-block;
                vertical-align: top;
                height: 30px;
                line-height: 30px;
            }
        }

        &:before {
            position: absolute;
            display: block;
            content: '';
            height: 35px;
            width: 100%;
            left: 0;
            bottom: -35px;
            background: $black;
        }
    }
}
