.home-template {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: $light;

    .content--left {
        float: left;
        width: 67%;
        min-height: 100vh;
        background: url('../img/bgHome.png');
        background-size: cover;
    }

    .content--right {
        position: fixed;
        right: 0;
        width: 33%;
        background: $dark;
        padding: 40px;
        height: auto;
        min-height: 100vh;

        header {
            position: relative;
            padding-bottom: 25px;
            width: 100%;

            h2 {
                position: relative;
                z-index: 2;
                color: $yellow;
                font-size: 25px;
                font-family: $quicksand;
                margin: 0;
            }

            span.hashtag {
                z-index: 1;
                position: absolute;
                bottom: -30px;
                color: rgba($light,.1);
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 900;
                font-size: 65px;
            }
        }
    }

    .instagram-flux {
        background: $dark;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;

        article.large {
            width: 100%;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;

            img {
                display: block;
                max-width: 100%;
            }
        }

        article.mini {
            float: left;
            width: 50%;
            padding: 20px;

            &:nth-child(even){
                padding-left: 0;
            }

            &:nth-child(odd){
                padding-right: 0;
            }

            img {
                display: block;
                max-width: 100%;
            }
        }
    }
}
