* {
    box-sizing: border-box;
}

*::-webkit-scrollbar { 
    display: none; 
}

body, html {
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;

    @media screen and (max-width: $desktop){
        width: 100vh;
        height: 100vh;
        overflow: hidden;
    }
}

body {
    position: relative;
    background: $black;
    font-family: $roboto;
    font-size: 14px;
    background-size: 80px 80px;
    line-height: 1.66;

    &:before {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: $dark;
        height: 100%;
        width: 100%;
        max-width: 0%;
        transition: all ease .25s;
    }

    > main {
        min-height: 100vh;
        width: 100vw;
    }
}

.clear {
    display: block;
    clear: both;
}

a {
	color: $yellow;
	text-decoration: none;
	font-weight: bold;
    transition: all ease .25s;

    &:hover {
        color: $yellow2;
        transition: all ease .25s;
    }
}

section.responsive {
    position: relative;
    display: none;
    height: 100vh;
    width: 100vw;
    background: $dark;

    > div {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        padding: 20px;
        
        h2 {
            font-size: 60px;
            font-weight: 900;
            color: rgba($light,.1);
            margin: 0;
            margin-bottom: -30px;
        }

        p {
            color: $light;
        }
    }

    @media screen and (max-width: $desktop){
        display: block;
    }

    @media screen and (max-height: 600px) {
        display: block;
    }
}

section#loadingSite {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $black;

    .center {
       position: absolute;
       text-align: center;
       top: 50%;
       left: 50%;
       transform: translate3d(-50%,-50%,0);
       padding: 20px; 
    }

    p {
        color: $light;
        text-transform: uppercase;
        font-family: $quicksand;
    }
}
